<a href="https://colab.research.google.com/github/nahyunryou/Machine_Learning/blob/main/9_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Task 1

In [ ]:
df = pd.DataFrame([
    {'Name' : '나다경', 'Hobby' : 'listening to music', 'Nationality' : 'Korea'},
    {'Name' : '유나현', 'Hobby' : 'watching movies', 'Nationality' : 'Korea'},
    {'Name' : '이영민', 'Hobby' : 'watching Netfilx & playing computer games', 'Nationality' : 'Korea'},
    {'Name' : '추승민', 'Hobby' : 'reading books', 'Nationality' : 'Korea'}
])

In [ ]:
df

  Name                                      Hobby Nationality
0  나다경                         listening to music       Korea
1  유나현                            watching movies       Korea
2  이영민  watching Netfilx & playing computer games       Korea
3  추승민                              reading books       Korea

# Task 2

In [ ]:
index_list=['student1', 'student2', 'student3', 'student4']

In [ ]:
df1 = pd.DataFrame([
    {'Name' : '나다경', 'Hobby' : 'listening to music', 'Nationality' : 'Korea'},
    {'Name' : '유나현', 'Hobby' : 'watching movies', 'Nationality' : 'Korea'},
    {'Name' : '이영민', 'Hobby' : 'watching Netfilx & playing computer games', 'Nationality' : 'Korea'},
    {'Name' : '추승민', 'Hobby' : 'reading books', 'Nationality' : 'Korea'}
], index=index_list)

In [ ]:
df1

         Name                                      Hobby Nationality
student1  나다경                         listening to music       Korea
student2  유나현                            watching movies       Korea
student3  이영민  watching Netfilx & playing computer games       Korea
student4  추승민                              reading books       Korea

In [ ]:
df1.to_csv('ml_9_15_practice.csv', encoding='cp949')

In [ ]:
df = pd.read_csv('ml_9_15_practice.csv', encoding='cp949', index_col=0)

In [ ]:
df

         Name                                      Hobby Nationality
student1  나다경                         listening to music       Korea
student2  유나현                            watching movies       Korea
student3  이영민  watching Netfilx & playing computer games       Korea
student4  추승민                              reading books       Korea

In [ ]:

    {'Height' : 157, 180, 180, 165},
     {'Weight' : 50, 70, 75, 55},
     {'Age' : 23, 24, 25, 26}

SyntaxError: ignored

In [ ]:
dic = {'Height' : [157, 180, 180, 165],
       'Weight' : [50, 75, 70, 55],
       'Age' : [23, 24, 25, 26]}

In [ ]:
df = pd.DataFrame(dic)

In [ ]:
df

   Height  Weight  Age
0     157      50   23
1     180      75   24
2     180      70   25
3     165      55   26

In [ ]:
df['Height'].mean()

170.5

In [ ]:
df['Age'].max()

26

In [ ]:
df['Weight'].median()

62.5

In [ ]:
df['Age'].cumsum()

0    23
1    47
2    72
3    98
Name: Age, dtype: int64

In [ ]:
df.corr()

          Height    Weight       Age
Height  1.000000  0.978744  0.270707
Weight  0.978744  1.000000  0.108465
Age     0.270707  0.108465  1.000000