<a href="https://colab.research.google.com/github/nahyunryou/Machine_Learning/blob/main/Teamwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [ ]:
# create data frame
dataframe = pd.DataFrame([
    {'Name' : '나다경', 'Hobby' : 'listening to music', 'Nationality' : 'Korea'},
    {'Name' : '유나현', 'Hobby' : 'watching movies', 'Nationality' : 'Korea'},
    {'Name' : '이영민', 'Hobby' : 'watching Netfilx & playing computer games', 'Nationality' : 'Korea'},
    {'Name' : '추승민', 'Hobby' : 'reading books', 'Nationality' : 'Korea'}
])
dataframe

In [ ]:
# define a new index
index_list=['student1', 'student2', 'student3', 'student4']

In [ ]:
dataframe1 = pd.DataFrame([
    {'Name' : '나다경', 'Hobby' : 'listening to music', 'Nationality' : 'Korea'},
    {'Name' : '유나현', 'Hobby' : 'watching movies', 'Nationality' : 'Korea'},
    {'Name' : '이영민', 'Hobby' : 'watching Netfilx & playing computer games', 'Nationality' : 'Korea'},
    {'Name' : '추승민', 'Hobby' : 'reading books', 'Nationality' : 'Korea'}
], index=index_list)

dataframe1

In [ ]:
# save file as .csv format
dataframe1.to_csv('team_practice.csv', encoding='cp949')

In [ ]:
# load csv file back to python
data = pd.read_csv('team_practice.csv', encoding='cp949', index_col=0)

In [ ]:
data

In [ ]:
dic = {'Height' : [157, 180, 180, 165],
       'Weight' : [50, 75, 70, 55],
       'Age' : [23, 24, 25, 26]}
df3 = pd.DataFrame(dic)
df3

Week 4

In [ ]:
cd /content/drive/MyDrive/ML/

In [ ]:
# load data
df = pd.read_csv(
    'ch_02/data/earthquakes.csv'
)

In [ ]:
df.head()

In [ ]:
# find items of location Arizona
df.loc[df.place.str.contains('Arizona'),:]

In [ ]:
# try loc function to select 3:10 items for mag, magType and type variables
df.loc[3:10,['mag','magType','type']]

In [ ]:
df.columns

In [ ]:
# try iloc function to select 3:10 items for mag, magType and type variables
df.iloc[3:11,[8,9,21]]

In [ ]:
# find 10 largest items of mag variable
df.sort_values(by='mag', ascending=False).head(10)

In [ ]:
# delete alert variable
df.drop(['alert'],axis=1,inplace=True)

In [ ]:
# pop mag variables with name mag
mag=df.pop('mag')

In [ ]:
# pop magType variables with name magType
magType=df.pop('magType')

In [ ]:
# concatename nag and magType variables and define a new DataFrame using concat function
df2=pd.concat([mag,magType],axis=1)
df2.head()

Week 5

In [ ]:
weather = pd.read_csv('ch_04/data/nyc_weather_2018.csv')
weather.head()

In [ ]:
# Find all entries where datatype is 'PRCP' and station ID containing 'S0007'
weather[
    (weather.datatype == 'PRCP')
    &(weather.station.str.contains('S0007'))
]

In [ ]:
# How many unique values in 'attributes' variable?
weather.attributes.nunique()

In [ ]:
# What is the most frequent one?
weather.attributes.value_counts()

Week 6

In [ ]:
weather = pd.read_csv('ch_04/data/weather_by_station.csv', index_col='date', parse_dates=True)
weather.head()

In [ ]:
dp = weather.query( "datatype == 'PRCP'").groupby(level=0).mean() # daily precipitation data
dp.head()

In [ ]:
dp.groupby(pd.Grouper(freq='Q')).sum() # which quarter had the most rain

In [ ]:
dp.groupby(pd.Grouper(freq='Q')).value.count()

In [ ]:
# Assign 'quarterly total precipitation' and 'number of days in month' variables to daily precipitation data

dp.assign(
    total_prcp_in_q = lambda x : x.groupby(pd.Grouper(freq='Q')).transform(np.sum),
    total_day_count_in_q = lambda x : x.groupby(pd.Grouper(freq='Q')).value.transform('count')
)

In [ ]:
dp.assign(
        total_prcp_in_q=lambda x: \
            x.groupby(pd.Grouper(freq='Q')).transform(np.sum),
        total_day_count_in_q=lambda x: \
            x.groupby(pd.Grouper(freq='Q')).value.transform('count'),
        pct_q_prcp=lambda x: \
            x.value.div(x.total_prcp_in_q)
    )

In [ ]:
# Calculate rolling 3 days mean precipitation
dp.rolling('3D').mean()

In [ ]:
fb = pd.read_csv('ch_04/data/fb_2018.csv')
fb.head()

In [ ]:
fb = pd.read_csv('ch_04/data/fb_2018.csv', index_col='date', parse_dates=True).assign(
    trading_volume=lambda x: pd.cut(x.volume, bins=3, labels=['low', 'med', 'high'])
)
fb.head()

In [ ]:
pd.crosstab(
    index = fb.trading_volume,
    columns = fb.index.month,
    colnames=['month']
)

In [ ]:
# Use pivot_table to produce the same result
fb.pivot_table(
    index = 'trading_volume',
    columns= fb.index.month,
    values = 'close', # count라서 아무거나 해도 괜찮은듯
    aggfunc = 'count'
)

Week 7

In [ ]:
fb = pd.read_csv(
    'ch_05/data/fb_stock_prices_2018.csv', index_col='date', parse_dates=True
)
quakes = pd.read_csv('ch_05/data/earthquakes.csv')
covid = pd.read_csv('ch_05/data/covid19_cases.csv').assign(
    date=lambda x: pd.to_datetime(x.dateRep, format='%d/%m/%Y')
).set_index('date').replace(
    'United_States_of_America', 'USA'
).sort_index()['2020-01-18':'2020-09-18']

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(15, 7))
axes[0].plot(fb.index, fb.open, '.-r')
axes[1].plot(fb.index, fb.high, '.--b')

In [ ]:
fig = plt.figure(figsize=(15, 7))
outside = fig.add_axes([0.1, 0.1, 0.9, 0.9])
inside = fig.add_axes([0.7, 0.7, 0.25, 0.25])

outside.plot(fb.index, fb.open, '.-r')
inside.plot(fb.index, fb.high, '.--b')

In [ ]:
covid

In [ ]:
new_cases_rolling_average = covid.pivot_table(
    index=covid.index, 
    columns='countriesAndTerritories', 
    values='cases'
).rolling(7).mean()

In [ ]:
new_cases_rolling_average

In [ ]:
new_cases_rolling_average.columns

In [ ]:
fig, axes = plt.subplots(1, 3, figsize=(15, 5))

new_cases_rolling_average[['China']].plot(ax=axes[0], style='-.c')
new_cases_rolling_average[['Italy', 'Spain']].plot(
    ax=axes[1], style=['-', '--'], 
    title='7-day rolling average of new COVID-19 cases\n(source: ECDC)'
)
new_cases_rolling_average[['Brazil', 'India', 'USA']]\
    .plot(ax=axes[2], style=['--', ':', '-'])

In [ ]:
cols = [
    col for col in new_cases_rolling_average.columns 
    if col not in ['USA', 'Brazil', 'India', 'Italy_Spain']
]
cols2 = [
    col for col in new_cases_rolling_average.columns 
    if col not in ['USA', 'Brazil', 'India', 'Italy', 'Spain']
]
new_cases_rolling_average.assign(Italy_Spain= lambda x: x.Italy + x.Spain).sort_index(axis=1).assign(
    Other=lambda x: x[cols2].sum(axis=1)
).drop(columns=cols).plot(
    kind='area', figsize=(15, 5), 
    title='7-day rolling average of new COVID-19 cases\n(source: ECDC)'
)

In [ ]:
quakes.head()

In [ ]:
indonesia_quakes.head()

In [ ]:
indonesia_quakes = quakes.query('parsed_place == "Indonesia"').assign(
    time=lambda x: pd.to_datetime(x.time, unit='ms'),
    earthquake=1
).set_index('time').resample('1D').sum()

# format the datetimes in the index for the x-axis
indonesia_quakes.index = indonesia_quakes.index.strftime('%b\n%d')

indonesia_quakes.plot(
    y=['earthquake', 'tsunami'], kind='bar', figsize=(15, 3), 
    rot=0, label=['earthquakes', 'tsunamis'], 
    title='Earthquakes and Tsunamis in Indonesia '
          '(September 18, 2018 - October 13, 2018)'
)

# label the axes (discussed in chapter 6)
plt.xlabel('date')
plt.ylabel('count')

In [ ]:
indonesia_quakes.plot(
    y=['earthquake', 'tsunami'], kind="bar",stacked=True, figsize=(15, 3), 
    rot=0, label=['earthquakes', 'tsunamis'], 
    title='Earthquakes and Tsunamis in Indonesia '
          '(September 18, 2018 - October 13, 2018)'
)

In [ ]:
indonesia_quakes[['earthquake', 'tsunami']].apply(lambda x: x/x.sum(),axis=1).plot(
    y=['earthquake', 'tsunami'], kind="bar",stacked=True, figsize=(15, 3), 
    title='Earthquakes and Tsunamis in Indonesia '
          '(September 18, 2018 - October 13, 2018)'
)